*{
  font-family: 'Roboto', sans-serif;
}


.App {
  text-align: center;
  height: 1000px;
  background: linear-gradient(#FFCC99, #993366);
}


.header{
  height:130px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color:#FF9966;
  
  
  
  
}
.header i{
  font-size: 3rem;
  color: #993366;

}

.icon{
  width: 300px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center
}
.icon h1{
  margin-left: 7%;
  padding-bottom:5%;
  color:#993366;
  
}
.heading{
  font-family: 'Patua One', cursive;
}
.text{
  font-family: 'Roboto', sans-serif;
}

.item{
  background-color: #993366 !important;
  
}
form{
  
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  
  /* align-items: center; */
  
}
input{
  
  padding: 3%;
  border-radius: 10px;
  
}

.dateF{
  width: 100%;
  margin-bottom: 15px;
}
.nameF{
  width: 100%;
  margin-bottom: 15px;

}

.descriptionF{
  
  width: 100%;
  height:100px;
 
}
.addressF{
  width: 100%;
  margin-bottom: 15px;
}

form button{
  margin-top:3%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FF9966;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    
    }

    form button:hover {
      background: #993366;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      }


.singUpForm{
  border: solid 2px red;
  width: 60%;
  align-self: auto;
  padding: 3rem;
  margin: auto;
  height: 500px;
}

      .startF{
        width: 100%;
        margin-bottom: 15px;
      }
      .endF{
        width: 100%;
        margin-bottom: 15px;
      }

      