.App {
  text-align: center;
  height: 1000px;
  background: linear-gradient(#FFCC99, #993366);
}


.header{
  height:130px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color:#FF9966;
  
  
  
  
}
.header i{
  font-size: 3rem;
  color: #993366;

}

.icon{
  width: 300px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center
}
.icon h1{
  margin-left: 7%;
  padding-bottom:5%;
  color:#993366;
  
}
.heading{
  font-family: 'Patua One', cursive;
}
.text{
  font-family: 'Roboto', sans-serif;
}

.item{
  background-color: #993366 !important;
  
}


.singUpForm{
  border: solid 2px red;
  width: 60%;
  align-self: auto;
  padding: 3rem;
  margin: auto;
  height: 500px;
}

